<a href="https://colab.research.google.com/github/Tyln1324/Gitproject/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
print ("I am new to python")

I am new to python

In [32]:
#It is possible to write within my code blocks without python using
print("I am learning python")

I am learning python

In [33]:
age = 31

print (age)

31

In [ ]:
name = input('what is your name,?')
age = input('how old are you?')

print(name)
print(age)

In [44]:
discount = 43.8
hight = 143
python_string = 'Pelican Street'

print (discount, hight, python_string)

43.8 143 Pelican Street

In [45]:
# define a list
my_favs = ['black','blue','green','pizza','chicken tikka masala']
print(my_favs)

# check length of the list
print(len(my_favs))

# check type
type(my_favs)

['black', 'blue', 'green', 'pizza', 'chicken tikka masala']
5

list

In [48]:
length = range(4,40)
print(len(length))

36

In [50]:
exp = 45

print(type(exp))

<class 'int'>

In [ ]:
studants = {'Jake': 40, 'Mako' : 50, 'Alex' : 65}

print (studants)

In [56]:
boolean = True

type(boolean)

boolean2 = False

type(boolean2)

bool

In [75]:
Set_of_numbers = {78, 45, 96, 85, 40, 73}

print (Set_of_numbers)

TypeError: ignored

In [ ]:
x = 45
y = 46
z = -85

print(x)

In [2]:
help (print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [3]:
x = 8

print (x)

8

In [8]:
name = input ('what is your name?')
print ('welcome to the world of python,', name)

what is your name?Ruhul
welcome to the world of python, Ruhul

In [10]:
# define a tuple
tuple_example = (5,'11','a',2.86,9)
print(tuple_example)

# check length of tuple
print(len(tuple_example))

# check type
type(tuple_example)

(5, '11', 'a', 2.86, 9)
5

tuple

In [22]:
range_example = range(7)
print (range_example)

print(len(range_example))

type(range_example)

range(0, 7)
7

range

In [29]:
range_example = range(5,9,3)
print(range_example)
print(len(range_example))
type(range_example)

range(5, 9, 3)
2

range