<a href="https://colab.research.google.com/github/Tyln1324/Gitproject/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
st1 = "Hello world"
st2 = "Hello world"

st1 == st2

st1 is  st2

st1 is not st2

st1 = st2

st1 is st2

True

In [5]:
8 in [5, 6, 7, 8, 9]

9 not in [9, 6, 5, 2]

False

In [6]:
x = 50
type(x)

int

In [13]:
y = float(x)
print (y)

50.0

In [ ]:

# while loop example #2
x = 4 
while x < 100:
  print(n)
  x += 1
else:
  print('n is not less than 100 anymore')

In [ ]:
for x in range (10):
  print (x)

In [ ]:
for y in range (3, 8):
  print (y)

In [ ]:
text = 'Rahim'

for letter in text:
   print(letter)

In [ ]:
text = "TECH I.S."
for letter in text:
  print(letter)

In [ ]:
list_fruits = ["apple", "charry", "Orange", "banana"]

for fruits_list in list_fruits:
    print (fruits_list)

In [ ]:
# define a tuple
animals_list = "dog","cat","elephant","otter"

# run a for loop to print the elements of the tuple
for animal in animals_list:
  print(animal)

In [33]:
# define a set 
names = {'oliva','caleb','kaseem'}

# loop over the set with for 
for name in names:
  print(name)

oliva
kaseem
caleb

In [34]:

# multiple exceptions handling
try:
  print(x_val)
except NameError: # exception handling #1
  print("x_val is not defined")
except: # exception handling #2
  print("Something else went wrong")

x_val is not defined

In [35]:
# `finally` block example #1
try:
  print(x)
except: # this executes if the try block has an error
  print("Something went wrong")
finally: # this is executed whether an error is raised or not
  print("The 'try except' is finished!")

9
The 'try except' is finished!

In [36]:
num1 = input("Enter the first number")
num2 = input("Enter the second number")

result = int(num1) + int(num2)

print (result)

Enter the first number4
Enter the second number8
12